@import url('https://fonts.cdnfonts.com/css/amsterdam-2');
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

$red : #D32F2F;



html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #730600;
  font-family: 'Tahoma', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5rem + 2vmin);
  color: white;
}

.intro-saf {
  margin-top: 16rem;
  font-family: 'Amsterdam', sans-serif;
  animation: fadeFromBottom 3s ease-in-out forwards, waviy 2s ease-in-out infinite; /* Apply both animations */
  align-items: center;
  justify-content: center;
}

@keyframes fadeFromBottom {
  from {
    opacity: 0;
 /* Start 50px below its original position */
  }
  to {
    opacity: 1;
/* Move to its original position */
  }
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.demo {
  animation: fadeFromBottom 3s ease-in-out forwards;
  display: flex;
}

.arrow{
  margin-left: 25rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  opacity: 50%;
}

.first-demo {
  position: relative; /* Ensure the position is relative */
  margin-top: 7.5rem;/* Adjust as needed to provide space between sections */
}

.next-demo {
  position: relative;
  margin-top: 26.5rem; 
  width: 30%;
}

.two-line-demo {
  position: relative;
  margin-top: 20rem; 
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  transform: translateX(-50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#section04 a,
#section05 a,
#section06 a,
#section07 a,
#section08 a,
#section09 a,
#section10 a,
#section11 a,
#section12 a,
#section13 a,
#section14 a,
#section15 a,
#section16 a {
  padding-top: 60px;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#section04 a span,
#section05 a span,
#section06 a span,
#section07 a span,
#section08 a span,
#section09 a span,
#section10 a span,
#section11 a span,
#section12 a span,
#section13 a span,
#section14 a span,
#section15 a span,
#section16 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}

#section17 {
  position: relative;
}



.first-text {
  margin-top: 16rem; /* Adjust as needed to move the text lower down */
}


#options label {
  margin-right: 20px;
  font-size: 2rem;
  display: inline-block;
}

#options input[type="radio"] {
  /* margin-right: 5px; Remove this line */
  vertical-align: middle; /* Add this line to align the radio buttons vertically */
}

.centered {
  width: 100%;
  margin: 30vh auto;
  text-align: center;
}

.centered .message {
  color: #FFFFFF;
  font-weight: bold;
}

.centered .checkbox-input {
  display: none;
}

.centered .checkbox-label {
  height: 40px;
  width: auto;
  padding: 10px 40px;
  display: inline-block;
  cursor: pointer;
  margin: 0px 20px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.centered .checkbox-label:hover {
  transform: scale(1.1, 1.1);
}

.centered .no {
  background-color: #D8124B;
}

.centered .yes {
  background-color: #12D890;
}

.centered .checkbox-label.no:hover {
  cursor: default;
  opacity: 0;
}

.centered .answer--yes{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.centered .answer--yes {
  background-image: url('./us.jpeg');
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  background-size: contain; /* Ensure the background image fits within the container */
  position: fixed; /* Position the container relative to the viewport */
  top: 5%; /* Align the top of the container to the vertical center of the viewport */
  left: 35%; /* Align the left side of the container to the horizontal center of the viewport */
  transform: translate(-50%, -50%); /* Translate the container back by half its width and height */
  width: 75vw; /* Set the width to 90% of the viewport width */
  height: 90vh; /* Set the height to 90% of the viewport height */
  max-width: 38rem; /* Set a maximum width to prevent the image from becoming too large */
  max-height: 57rem; /* Set a maximum height to prevent the image from becoming too large */
  animation: pulse 2s infinite alternate; /* Apply the pulse animation */
}

@keyframes pulse {
  from {
    transform: scale(1.09); /* Start size of the pulse */
  }
  to {
    transform: scale(1.15); /* End size of the pulse */
  }
}

.centered .yes[type=checkbox]:checked ~ .answer--yes {
  visibility: visible;
  opacity: 100;
}

.centered .no[type=checkbox]:checked ~ .answer--no {
  visibility: visible;
  opacity: 100;
}
